/* ========= Global Styling ========= */
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background:#111;
    color:rgb(15, 214, 221);
    text-align:center;
}

header{
    padding:30px 0;
    font-size: 22px;
}


/* ========= Gallery ========== */
.gallery-container{
    width:70%;
    margin:auto;
    padding:30px;
    background:#1a1a1a;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

figure{
    margin:0;
}

figure img{
    width:70%;
    height:400px;
    object-fit:cover;
    border-radius:15px;
    transition:transform 0.5s, box-shadow 0.5s;
}

/* Hover Zoom Effect */
figure img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255,255,255,0.4);
}

figcaption{
    margin-top:15px;
    font-size:20px;
    opacity:0.9;
}

/* ========= Buttons ========= */
.controls button{
    margin:20px 10px;
    padding:12px 28px;
    background:#fcfcfc;
    border:none;
    border-radius:30px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.4s;
}

.controls button:hover{
    background:#ff0202;
    transform:scale(1.1);
}

footer{
    margin-top:30px;
    opacity:0.7;
}